<app-header-board [columns]="kanbanService.columns()"></app-header-board>
<div class="board-canvas">
  <div
    class="board-columns"
    cdkDropListGroup
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="listDrop($event)"
  >
    @for (column of kanbanService.columns(); track column.id) {
      <app-kanban-column
        cdkDrag
        class="board-column"
        cdkDropList
        [cdkDropListData]="column.tickets"
        (cdkDropListDropped)="drop($event)"
      >
        <h2 class="column-title">{{ column.title }}</h2>

        @for (ticket of column.tickets; track ticket.id) {
          <app-kanban-item cdkDrag [item]="ticket" [status]="column.title" class="board-item" />
        }
      </app-kanban-column>
    }
  </div>
</div>
